body {
background-image: url(../img/table.jpg);
}

h1 {
font-family: 'Sancreek', cursive;
color: #7B241C;
text-align: center;
font-size: 100px;
}

h4 {
font-family: 'Sancreek', cursive;
color: white;
text-align: center;
}
