Please login!

<!DOCTYPE html>
<html>
<body>

 <form id="myform" action= "#" method="get">
  <input type="text" name="Email">
  <input type="text" name="Password">
  <br><br>
  <button type="button" form="myform" name="login" onclick="window.location.href = '/'">login</button>
</form>


</body>
</html>
