<<<<<<< HEAD
Please login!
=======
<h3>Please login</h3>
>>>>>>> styling

 <form action= "/process_login" method="post">
  <label for="email">Email</label>
  <input type="text" name="email" id="email">
  <label for="password">Password</label>
<<<<<<< HEAD
  <input type="text" name="password" id="password">
=======
  <input type="password" name="password" id="password">
>>>>>>> styling
  <br><br>
  <input type="submit" value="Submit">
</form>
