Please login!

 <form action= "/protected_pages" method="post">
  <label for="email">Email</label>
  <input type="text" name="email" id="email">
  <label for="password">Password</label>
  <input type="text" name="password" id="password">
  <br><br>
  <input type="submit" value="Submit">
</form>
