<<<<<<< HEAD
Please register!

<form action= "/process_register" method="post">
 <label for="email">Email</label>
 <input type="text" name="email" id="email">
 <label for="password">Password</label>
 <input type="text" name="password" id="password">
 <label for="password_again">Password again</label>
 <input type="text" name="password_again" id="password_again">
 <br><br>
 <input type="submit" value="Submit">
=======
<h3>Please register</h3>

<form action="/auth/create" method="post">
  <label for="email">Email</label>
  <input type="text" name="email" id="email">
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
  <label for="password_confirmation">Password again</label>
  <input type="password" name="password_confirmation" id="password_confirmation">
  <br><br>
  <input type="submit" value="Submit">
>>>>>>> styling
</form>
