Please register!

<form action= "/auth/create" method="post">
 <label for="email">Email</label>
 <input type="text" name="email" id="email">
 <label for="password">Password</label>
 <input type="text" name="password" id="password">
 <label for="password_confirmation">Password again</label>
 <input type="text" name="password_confirmation" id="password_confirmation">
 <br><br>
 <input type="submit" value="Submit">
</form>
